<?xml version="1.0"?>
<launch>
    <!--launch reemc Gazebo simulator -->
    <include file="$(find reemc_gazebo)/launch/reemc_empty_world.launch">
    </include>

    <!--launch reemc joint trajectory controller -->
    <include file="$(find reemc_controller_configuration)/launch/joint_trajectory_controllers.launch">
    </include>

    <!--run the node receiving the temperature readings-->
    <node name="TempReceiverNode" pkg="finger_temperature_sensing" type="temperature_receiver_node.py"
	output="screen" respawn="true"/>

    <!-- launch the node controlling the motions of the reemc-->
    <!-- <node name="ReemcControllerNode" pkg="finger_temperature_sensing" type="reemc_controller_node.py"
	output="screen" respawn="true"/> -->

</launch>
